{% import "partials/macros.html.twig" as helpers %}
<div class="grid-container key-terms">
	<div class="grid-x grid-margin-x align-top">
		<div class="cell medium-6">
            <ul class="name_listing">
                {% for item in page.header.items %}
                    {% set id = item.id|default(helpers.pageLinkName(item.title)) %}
                    <li class="item box_trigger {{ loop.index == 1 ? 'active' }}" data-open="{{ id }}"><button class="text-left">{{ item.title|raw }}</button></li>
                {% endfor %}
            </ul>
		</div>
		<div class="cell medium-6">
            {% for item in page.header.items %}
                {% set id = item.id|default(helpers.pageLinkName(item.title)) %}
                {% set display = loop.index > 1 ? "none" : "block" %}
                <div class="box" style="display: {{ display }};" id="{{ id }}">
                    <div class="box_title bg-tertiary">{{ item.title|raw }}</div>
                    <div class="box_content">
                        {{ item.content|markdown|raw }}
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>
</div>