{% import "partials/macros.html.twig" as helpers %}
{% set logoSize = 500 %}
{% set dummy = media["theme://images/dummy.png"] %}
{% set half = ((page.collection()|length)/2)|round %}
<div class="grid-container">
    <div class="grid-x grid-margin-x align-center mb-6">
        <div class="cell medium-5">
            <ul class="name_listing">
                {% for item in page.collection()|slice(0, half) %}
                    {% set id = item.id|default(helpers.pageLinkName(item.title)) %}
                    <li class="item box_trigger" data-open="{{ id }}"><button class="text-left"><b>{{ loop.index }}</b>&nbsp;&nbsp;{{ item.title|raw }}{{ item.header.country ? ', ' ~ item.header.country }}</button></li>
                {% endfor %}
            </ul>
        </div>
        <div class="cell medium-5">
            <ul class="name_listing">
                {% for item in page.collection()|slice(half) %}
                    {% set id = item.id|default(helpers.pageLinkName(item.title)) %}
                    <li class="item box_trigger" data-open="{{ id }}"><button class="text-left"><b>{{ loop.index + half }}</b>&nbsp;&nbsp;{{ item.title|raw }}{{ item.header.country ? ', ' ~ item.header.country }}</button></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="grid-x grid-margin-x align-center">
        <div class="cell">
            {% for item in page.collection() %}
                {% set id = item.id|default(helpers.pageLinkName(item.title)) %}
                {% include "partials/partner.html.twig" with {item: item, id: id} %}
            {% endfor %}
        </div>
    </div>
</div>
