{% set format = "d M Y" %}
<div class="event-section grid-x grid-margin-x align-center align-stretch text-center">
    {% for item in collection.published %}
        {% set event = item.header.event %}
        {% set url = event.url ?: item.url %}

        <div class="cell {{ page.header.extra_class == "event-list" ? "medium-8" : "medium-6" }}  mb-1">
            {% if event.url %}
                <a class="card bg-secondary" style="height:100%;" href="{{ url }}" target="_blank">
            {% else %}
                <div class="card bg-secondary" style="height:100%;">
            {% endif %}
                <div class="card-section">
                    <div class="content text-center">
                        <div class="mb-2 mt-0 h6 text-primary"><i class="fa fa-calendar text-primary"></i> {{ item.title|raw }}</div>

                        <div class="text-white">
                            {% if event.start %}
                                {{ event.start|date(format)|raw }}
                            {% endif %}

                            {% if event.end and event.end != event.start %}
                                &mdash; {{ event.end|date(format)|raw }}
                            {% endif %}
                        </div>

                        {% if event.location %}
                            <div class="text-white">
                                <i>{{ event.location|raw }}</i>
                            </div>
                        {% endif %}

                        <div class="text-white">
                            {{ item.summary|markdown|raw }}
                        </div>
                    </div>
                </div>
            {% if event.url %}
                </a>
            {% else %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
