<div class="box job-box" style="display:none;" id="{{ id }}">
    <div class="box_title bg-secondary">{{ item.titre|raw }}</div>
    <div class="box_content">
        <div class="grid-x grid-margin-x text-center">
            <div class="cell medium-4 info">
                <div class=""><i class="fa-solid fa-location-dot"></i></div>
                <div class="mt-2">{{ item.lieu|raw }}</div>
            </div>
            <div class="cell medium-4 info">
                <div class=""><i class="fa-solid fa-file-signature"></i></div>
                <div class="mt-2">{{ item.contrat|raw }}</div>
            </div>
            <div class="cell medium-4 info">
                <div class=""><i class="fa-solid fa-hourglass-start"></i></div>
                <div class="mt-2">{{ item.duree|raw }}</div>
            </div>
        </div>
        
        <div class="mt-5">{{ item.content|markdown|raw }}</div>
    </div>
</div>