{% set untranslated_pages_behavior =
    grav.config.plugins.langswitcher.untranslated_pages_behavior
%}
{% set languages = [] %}
{% set items %}
    {% for language in langswitcher.languages %}
        {% set show_language = true %}

        {% if language == langswitcher.current %}
            {# {% set show_language = false %} #}
            {% set lang_url = page.url %}
            {% set active_class = " active" %}
        {% else %}
            {% set base_lang_url = base_url_simple
                ~ grav.language.getLanguageURLPrefix(language)
            %}
            {% set lang_url = base_lang_url ~ langswitcher.page_route
                ~ page.urlExtension
            %}
            {% if untranslated_pages_behavior != "none" %}
                {% set translated_page =
                    langswitcher.translated_pages[language]
                %}

                {% if not translated_page or not translated_page.published %}
                    {% if untranslated_pages_behavior == "redirect" %}
                        {% set lang_url = base_lang_url ~ "/" %}
                    {% elseif untranslated_pages_behavior == "hide" %}
                        {% set show_language = false %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% set active_class = "" %}
        {% endif %}

        {% if show_language %}
            {% set languages = languages|merge([language]) %}
            <li class="lang-switcher__item">
                <a href="{{ lang_url ~ uri.params }}"
                    class="lang-switcher__link
                        {{
                    active_class
                    }}">
                    <!-- <i class="flag-icon flag-icon-{{ language }}"></i> -->
                    {{ language|capitalize|raw }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endset %}

<div class="lang-switcher">
    <ul class="lang-switcher__list no-bullet">
        {{ items|raw }}
    </ul>
</div>
