{% import _self as self %}
{% set user = grav.user %}

<div class="grid-container">
    <nav class="head-nav grid-x align-middle align-center pb-2 lg-pb-0" role="navigation">
        <div class="cell large-2 logo-container">
            <a class="head-nav__home" href="{{ base_url == "" ? "/" : base_url }}">
                {{ page.media["theme://images/logo-ecl.png"].html(site.title ~ " logo", site.title ~ " logo", "head-nav__logo")|raw }}
                {{ page.media["theme://images/logo-dark.svg"].html(site.title ~ " logo", site.title ~ " logo", "head-nav__logo logo-dark")|raw }}
            </a>
        </div>
        <div class="cell text-center hide-for-large">
            <button class="button head-nav__menu-toggle hide-for-large" type="button" data-toggle="responsive-menu">
                <i class="head-nav__menu-icon"></i>
                <span class="head-nav__menu-text">Menu</span>
            </button>
        </div>
        <div class="cell large-auto">
            <div id="responsive-menu" class="navigation-line show-for-large" data-toggler="show-for-large">
                <ul class="head-nav__menu menu vertical large-horizontal" data-responsive-menu="accordion large-dropdown">
                    {{ self.loop(pages, 1) }}
                </ul>
            </div>
        </div>
        <div class="cell large-2 lg-ml-4 text-center large-text-right">
            {% include 'partials/button.html.twig' with {
                'url': '/inscription',
                'text': "S'inscrire",
                'icon': 'fa-user-plus',
                'classes': "btn-small",
                'outline': true
            } %}
        </div>
    </nav>
</div>
{% macro loop(page, levels = 2) %}
    {% import _self as self %}
    {% for p in page.children.visible %}
        {% set active = p.active or p.activeChild %}
        {% set children = p.children.visible.count > 0 %}
        {% set recurse = children and levels > 0 and p.header.children_visible|defined(true) %}
        {% set classes = ["head-nav__item"] %}

        {% if active %}
            {% set classes = classes|merge(["head-nav__item--active"]) %}
        {% endif %}

        {% if recurse %}
            {% set classes = classes|merge(["head-nav__item--has-submenu"])%}
        {% endif %}

        <li class="{{ implode(" ", classes) }}">
            {% set destination = p.header.external_link ?: (p.routable ? p.url : "#") %}
            {% set target = p.header.external_link ? 'target="_blank" rel="noopener noreferrer"' : '' %}

            {# Use the dynamic destination variable here #}
            <a href="{{ destination }}" {{ target|raw }} class="head-nav__link {{ active ? "head-nav__link--active" : "" }}">
                {{ p.menu }}
            </a>

            {% if recurse %}
                <ul class="head-nav__submenu">
                    {{ self.loop(p, levels - 1) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
