<div class="box partner-box" style="display: none;" id="{{ id }}">
    <div class="box_title bg-tertiary">{{ item.title|raw }}</div>
    <div class="box_content">
        <div class="h5">{{ item.title|upper|raw }} {{ item.header.acronym ? '(' ~ item.header.acronym ~ ')' }}</div>

        <div class="title">General information</div>
        <div class="">{{ item.content|markdown|raw }}</div>

        <div class="title">Main tasks in the project</div>
        <div class="">{{ item.header.role|markdown|raw }}</div>

        <div class="grid-x grid-margin-x mt-8">
            <div class="cell medium-5 mb-5">
                <div class="logo">
                    {% set image = item.header.logo|default("theme://images/dummy.png") %}
                    {{
                        item.media[image].quality(100).cropResize(
                            300,
                            300
                        ).html("Logo of " ~ item.header.title, "Logo of " ~ item.header.title)|raw
                    }}
                </div>
                <div class="address mt-2">
                    {{ item.header.address|raw }}
                </div>
                <div class="links mt-2">
                    <ul class="fa-ul u-mt unstyled-list ml-3 mb-0">
                        {% for item in item.header.links %}
                            <li>{{ _self.link(item) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="cell medium-7">
                <div class="grid-x grid-margin-x">
                    {% for contact in item.header.team %}
                        <div class="cell medium-6 mb-4">
                            <div class="contact-box">
                                {% set image = item.media[contact.image]|defined(dummy) %}
                            
                                <div class="image">
                                    {{
                                        image.cropZoom(500, 500).quality(100).html(
                                            contact.name,
                                            "Photo of " ~ contact.name,
                                            ""
                                        )|raw
                                    }}
                                </div>

                                <div class="name">
                                    {{ contact.name|raw }}
                                </div>

                                {% if contact.role %}
                                    <div class="role">{{ contact.role|raw }}</div>
                                {% endif %}
                                {% if contact.email %}
                                    <div class="email">
                                        <a href="mailto:{{ contact.email|safe_email }}">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i> Email
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}                                
                </div>
            </div>
        </div>
    </div>
</div>

{% macro link(options) %}
    {% set url = options.url starts with "http"
        ? options.url
        : "http://" ~ options.url
    %}
    {% set icon = "solid fa-external-link" %}

    {% set icons = [
        "facebook",
        "twitter",
        "linkedin",
        "youtube",
        "instagram",
        "vimeo",
        "flickr",
        "x"
    ] %}

    {% for item in icons %}
        {% if (options.text|lower) starts with item %}
            {% if item == "twitter" %}
                {% set icon = "brands fa-x-twitter" %}
            {% elseif item == "x" %}
                {% set icon = "brands fa-x-twitter" %}
            {% else %}
                {% set icon = item %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <a href="{{ url }}" target="_blank">
        <i class="fa fa-li fa-{{ icon }}"></i>
        {# {{ options.text }} #}
        {{ url|raw }}
    </a>
{% endmacro %}