{% extends "default.html.twig" %}

{% block content %}
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-8">
            {{ page.content|raw }}
        </div>
    </div>
    <div class="grid-x grid-margin-x atsi">
        {% for item in page.header.items %}
            <div class="cell medium-6 large-4 mt-4">
                <div class="profile">
                    <div class="picture_name">
                        <div class="picture">{{ page.media[item.image].cropZoom(500, 665)|raw }}</div>
                        <div class="name">
                            {% set names = item.name|split(' ') %}
                            {{ names[0] }}<br/>
                            {{ names[1] }}
                        </div>
                    </div>
                    <div class="project_info">
                        <div class="project_name">
                            <span class="text-secondary" style="font-weight:700;">Project title:</span><br/>
                            <span>{{ item.project_title|raw }}</span>
                        </div>

                        <div class="links">
                            <hr/>
                            <ul class="fa-ul u-mt unstyled-list ml-3 mb-0">
                                {% for link in item.links %}
                                    <li>
                                        <a href="{{ link.url }}" target="_blank">
                                            {% if link.icon == "x" %}
                                                {% set icon = "fa fa-li fa-brands fa-x-twitter" %}
                                            {% elseif link.icon == "website" %}
                                                {% set icon = "fa-li fa-solid fa-globe" %}
                                            {% else %}
                                                {% set icon = "fa fa-li fa-" ~ link.icon %}
                                            {% endif %}
                                            <i class="{{ icon }}"></i>
                                            {{ link.text|raw }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="details">
                    <ul class="accordion unstyled-list" data-accordion data-allow-all-closed="true">
                        {% for accordeon in item.accordeons %}
                            {% if accordeon.is_accordeon %}
                                <li class="accordion-item" data-accordion-item>
                                    <a href="#" class="accordion-title">{{ accordeon.title|raw }}</a>

                                    <div class="accordion-content" data-tab-content>
                                        {{ accordeon.text|raw }}
                                    </div>
                                </li>
                            {% else %}
                                <li>
                                    <div class="non_accordeon">
                                        <span class="text-secondary">{{ accordeon.title|raw }}:</span>&nbsp;
                                        <span class="text-black">{{ accordeon.text|raw }}</span>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
