{% import "partials/macros.html.twig" as helpers %}
{% extends "default.html.twig" %}

{% block content %}
    <div class="grid-x grid-margin-x align-center">
        <div class="cell">
            {{ page.content|raw }}

            <div class="grid-x grid-margin-x align-center items-slider">
                {% for item in page.header.items %}
                    {% set image = item.image|default("theme://images/dummy.png") %}
                    {% set id = item.id|default(helpers.pageLinkName(item.text)) %}

                    <div class="cell item medium-4 mt-3">
                        <div class="image">{{ page.media[image].cropZoom(500,500).html("image for " ~ item.text, "image for " ~ item.text)|raw }}</div>

                        <div class="text">
                            <div class="title">{{ item.text|raw }}</div>
                            <div class="duration">Durée: {{ item.duration|raw }}</div>
                            <div class="price">Frais: {{ item.price|raw }}</div>
                            <button class="button" data-open="{{ id }}">En savoir plus</button>
                        </div>
                    </div>


                    <div class="reveal large items-reveal" id="{{ id }}" data-reveal>
                        <div>
                            {% include "partials/box.html.twig" with {title: item.text, content: item.content, title_classes: page.header.color|default("bg-secondary")} %}
                        </div>

                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>

            <div class="grid-x grid-margin-x align-center mt-5">
                <div class="cell text-center">
                    <div class="callout primary">
                        <div><b>Je ne connais pas la formation qui me convient</b></div>
                        <div><a href="/contact" class="button mt-3">Réserver une consultation</a></div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}