{% extends "partials/base.html.twig" %}

{% block main %}
    <main class="page-main">
        {% block outer_content %}
            <div class="grid-container section">
                <div class="grid-x align-center">
                    <div class="cell medium-10 large-8">
                        <h1><span>{{ page.header.title|raw }}</span></h1>
                        {% for group in page.header.publications %}
                            <div>
                                {% if group.year %}
                                    <h3>{{ group.year }}</h3>
                                {% endif %}

                                <ul>
                                    {% for item in group.items %}
                                        {% set url = page.media[item.hyperlink].url|default(item.hyperlink) %}
                                        <li class="mb-4">
                                            {% if url %}<a href="{{ url }}" target="_blank">{% endif %}
                                            <b>{{ item.title }}</b>
                                            {% if url %}</a>{% endif %}
                                            {% if item.authors %}
                                                <div>Author(s): {{ item.authors }}</div>
                                            {% endif %}
                                            <div><em>{{ item.book }}</em></div>
                                            {% if item.doi %}
                                                <div>doi: {{ item.doi }}</div>
                                            {% endif %}
                                            {{ item.info|markdown }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </main>
{% endblock %}
